body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  background-color: #24292e;
  color: white;
}

.logo {
  font-size: 33px;
  margin: auto;
}

.userImage {
  margin: 5px;
  height: 40px;
  width: 40px;
}

.contributeButton {
  margin-top: 7px;
  height: 35px;
  line-height: 18px;
  background-color: #3a95ff;
  width: 120px;
}
